<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div><br />

  <div><%= f.submit "Let's Code" %></div><br />
<% end %>

<%#= render "devise/shared/links" %>
