There has been <%=@shares.count%> trades

<% @shares.reverse_each do |share| %> 
<div class="card">
  <h3 class="card-heading simple">New Trade</h3>
  <div class="card-body">
    <img src="<%=share.user.img_url%>">
    <%= share.user.twitter_handle %> 
    <img src="<%=share.reciever.img_url%>">
    <%= share.reciever.twitter_handle  %>
  </div>
</div>
<% end %>








