<h2>Users</h2>

<% @users.each do |user| %>
<%= form_tag("/shares", method: "get") do %>
      <div class="row">
        <div class="well">
          <h3><%= user.name %></h3>
          Cards to Share:  <span class="badge"><%= user.created_venues.count %></span>
          Trades:  <span class="badge"><%= user.shares.count %></span>  
        <h6>Member Since: <%=time_ago_in_words(user.created_at)%></h6>
        <input type="hidden" name="reciever_id" value="<%= user.id %>">
        <input type="submit" value="Trade with <%= user.name %>">
      </div>
    </div>
  <% end %>
<% end %>

  


