<img src="<%= current_user.img_url %>">
<h3><%= current_user.name %></h3>
Cards: <span class="badge"><%= current_user.created_venues.count %></span><br>
Trades: <span class="badge"><%= current_user.shares.count %></span> 
<br>
<br>

<% current_user.created_venues.each do |venue| %> 
<%= link_to venue do %>
  <div class = "well">
    <%= venue.name %> <br>
    <%=venue.address%> <%=venue.cross_street%> <br>
    Added: <%=time_ago_in_words(venue.created_at)%> ago 
  </div> 
  <% end %> 
<% end %> 


<%= link_to destroy_user_session_path, :method => :delete  do %>
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-minus-sign"> Logout</span>
  </button>
<% end %> 


