<img src="<%= current_user.img_url %>">
<h3><%= current_user.name %></h3>
Cards: <span class="badge"><%= current_user.created_venues.count %></span><br>
<strong>Rank:</strong>
<!-- <span>Joined: <%=time_ago_in_words(current_user.created_at)%> ago</span> -->
Trades:  <span class="badge"><%= current_user.shares.count %></span> 
<br>
<br>


<% current_user.created_venues.each do |venue| %>  
<div class="well">
  <p><%= venue.name %></p>
</div>
<%end%>


<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-minus-sign">
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  </span>
</button>

