

<%= form_tag("/venues/search_foursquare", method: "post") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_for(@venue) do |f| %>
  <div class="field">
    <%= f.label :name%><br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %> 





