<%= render 'map' %>

<% @venues.reverse_each do |venue| %>  
  <%= link_to venue do %>
    <div class="well">
      <h4><%=venue.name%></h4>
      <p><%=venue.address%> <%=venue.cross_street%></p>
      <p>Posted: <%=time_ago_in_words(venue.created_at)%> ago</p>
    </div> 
  <% end %>
<% end %> 





