
<%= render 'venues/search' %>

<% @venues.reverse.each do |venue| %> 

<div class="card">
   <div class="card-heading image">
    <img src="<%= venue.creator.img_url %>">
    <div class="card-heading-header">
      <h3><%= venue.name %></h3>
        <span>Added by <%= venue.creator.twitter_handle %></span><br>
        <span><%= time_ago_in_words(venue.created_at)%> ago</span>
      </div>
    </div>
    <div class="card-body">
      <p><strong>Address: </strong><%=venue.address%>, <%=venue.city%>  <br>
      <strong>Cross Streets: </strong><%=venue.cross_street%> <br>
      </p>
    </div>

    <%= link_to venue_path(venue) do %>
    <div class="card-media">
      <img src="http://lorempixel.com/300/200/nightlife" alt="media"/>
    </div>
    <% end %>
   
    <div class="card-comments">
      <%=venue.reviews.count%> comments 
    </div>
  </div>
<% end %> 



























