
<%= render 'venues/search' %>

<% @venues.reverse.each do |venue| %> 
<div class="card">
   <div class="card-heading image">
    <img src="<%= venue.creator.img_url %>">
    <div class="card-heading-header">
      <h3><%= venue.name %></h3>
        <span>Added by <%= venue.creator.twitter_handle %></span><br>
        <span><%= time_ago_in_words(venue.created_at)%> ago</span>
      </div>
    </div>
    <div class="card-body">
      <p><strong>Address: </strong><%=venue.address%>, <%=venue.city%>  <br>
      <strong>Cross Streets: </strong><%=venue.cross_street%> <br>

      </p>
    </div>
    <div class="card-media">
      <a class="card-media-container" href="#" >
        <img src="http://placehold.it/300x200" alt="media"/>
      </a>
    </div>
   
  <div class="card-comments">
    <%=venue.reviews.count%> comments 
  </div>
  </div>

<% end %> 

























