<%= render 'map' %>

<% @venues.reverse_each do |venue| %>  
  <%= link_to venue do %>
    <div class="well">
      <h4><%=venue.name%></h4>
      <p><%=venue.address%></p>
      <p><%=venue.city%></p>
      <p><%=venue.cross_street%></p>
      
    </div> 
  <% end %>
<% end %> 


<!--     t.datetime "created_at"
    t.datetime "updated_at" -->


