<%= form_tag("/venues/search_foursquare", method: "POST") do %>
  <%= label_tag(:query, "Add New Spot:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>
<br>
<div id="search_results" class="row">
  <% if @search_results %>
    <% @search_results['places'].each do |place| %>
        <div class="well span4 offset2">
          <h4><%= place.name  %><br></h4>
          <h5><%= place.location.address  %> <%=place.location['city']%></h5>
          <p>Cross Streets: <%= place.location['crossStreet']%></p>
          <input type="hidden" name="name" value="<%= place.name %>">
          <input type="hidden" name="foursquare_id" value="<%= place.id%>">
        </div>
    <%end%>
  <%end%>
</div>



















