<div class="row">
  <div class="pull-left">
    <h3><%= @venue.name.capitalize %></h3>
  </div>
  <div class="pull-right">
    <strong><%= link_to 'add review', new_venue_review_path(@venue)%></strong>
  </div>
</div>
<% @venue.reviews.each do |review| %>
  <div class="well">
    <img src="<%= review.user.img_url %>" class="img-circle" >
    <h4><%= review.user.name %></h4>
    <p><%= review.description %></p>
    <p><strong>Stars </strong>  <%= review.stars %></p>
  </div>
<%end%>










