<%#= render 'map' %>

<div class="card">
  <h3><%= @venue.name %></h3> 
  <h4><%= @venue.address %> <%= @venue.city %></h4>
  <small><%= @venue.cross_street %></small> 
  <p><%= link_to 'Comment', new_venue_review_path(@venue)%></p>
</div>

<% @venue.reviews.each do |review| %>
  <div class="well">
    <img src="<%= review.user.img_url %>" class="img-circle" >
    <h4><%= review.user.name %></h4>
    <p><%= review.description %></p>
    <p><strong>Stars: </strong>  <%= review.stars %></p>
  </div>
<%end%>






