<p>
  <h3>
    <%= @venue.name%>
  </h3> 
  <h5>
    <%= link_to 'Add Review', new_venue_review_path(@venue)%>
  </h5>
</p>

<% @venue.reviews.each do |review| %>
  <div class="well">
    <img src="<%= review.user.img_url %>" class="img-circle" >
    <h4><%= review.user.name %></h4>
    <p><%= review.description %></p>
    <p><strong>Stars </strong>  <%= review.stars %></p>
  </div>
<%end%>










