<%= form_for(@review) do |f| %>
  <div class="field well form-search">
    <%= f.label :description %>
    <br>
    <%= f.text_field :description, :size=>"25", placeholder: "One reason to go", :maxlength => "140" %>
    <br>
    <br>
    <%= f.label :stars %>
    <%= f.select :stars, (0..5) %>
    <br>
    <%= f.hidden_field :user_id  %>
    <%= f.hidden_field :venue_id %>
    <br>
    <div class="actions">
      <%= f.submit "Comment" %>
    </div>
  </div>
<%end%>







