


<%= form_for(@review) do |f| %>
  <div class="field">
    <%= f.label :description %>
    <br>
    <%= f.text_field :description, :size=>"25", placeholder: "What do you think? ", :maxlength => "140" %>
    <br>
    <br>
    <%= f.label :stars %>
    <%= f.select :stars, (0..3) %>
    <%= f.hidden_field :user_id  %>
    <%= f.hidden_field :venue_id %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>





