<%= render 'venues/map' %>

<div class ="well">
  <h3><%=@review.venue.name%></h3>
  <h4><%=@review.venue.address%> <%=@review.venue.city%></h4>
  <small><%=@review.venue.cross_street%></small> 
</div>

<%= render 'form' %>




